{% layout 'password' %}

<div class="password-content">
  <h1 class="password-heading">{{ 'general.password_page.opening_soon' | t }}</h1>
  
  <div class="password-message">
    {{ shop.password_message }}
  </div>
  
  {%- form 'storefront_password', class: 'password-form' -%}
    {%- if form.errors -%}
      <div class="password-error">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}
    
    <label for="password" class="visually-hidden">{{ 'general.password_page.password' | t }}</label>
    <input
      type="password"
      name="password"
      id="password"
      class="password-input"
      placeholder="{{ 'general.password_page.password' | t }}"
      autocomplete="current-password"
      {% if form.errors %}aria-invalid="true"{% endif %}
    >
    
    <button type="submit" class="password-button">
      {{ 'general.password_page.enter' | t }}
    </button>
  {%- endform -%}
  
  {%- if shop.enabled_password_page and shop.password_message != blank -%}
    <div class="password-social">
      <h2 class="password-social-heading">{{ 'general.social.follow_us' | t }}</h2>
      
      <ul class="password-social-links">
        {%- if settings.social_twitter_link != blank -%}
          <li><a href="{{ settings.social_twitter_link }}" target="_blank">{{ 'general.social.links.twitter' | t }}</a></li>
        {%- endif -%}
        
        {%- if settings.social_facebook_link != blank -%}
          <li><a href="{{ settings.social_facebook_link }}" target="_blank">{{ 'general.social.links.facebook' | t }}</a></li>
        {%- endif -%}
        
        {%- if settings.social_instagram_link != blank -%}
          <li><a href="{{ settings.social_instagram_link }}" target="_blank">{{ 'general.social.links.instagram' | t }}</a></li>
        {%- endif -%}
        
        {%- if settings.social_youtube_link != blank -%}
          <li><a href="{{ settings.social_youtube_link }}" target="_blank">{{ 'general.social.links.youtube' | t }}</a></li>
        {%- endif -%}
      </ul>
    </div>
  {%- endif -%}
</div>